{% extends 'layout.twig' %}

{% block styles %}
  <link rel="stylesheet" href="/assets/index.css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
{% endblock %}

{% block content %}
  {{ source('app/todo.html') }}
  
  <footer class="info">
    <p>Written by <a href="http://evanyou.me">Evan You</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </footer>
{% endblock %}

{% block scripts %}
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/vue@2.5.5/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
  <script src="https://unpkg.com/axios@0.17.1/dist/axios.min.js"></script>
  <script src="/assets/app.js"></script>
{% endblock %}